<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Queclink Protocol Analysis Kit</title>
    <link rel="stylesheet" href="assets/bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" href="assets/bootstrap-table/bootstrap-table.min.css"/>
    <link rel="stylesheet" href="assets/bootstrap-editable/bootstrap-editable.css"/>
    <link rel="stylesheet" href="css/main.css"/>
</head>
<body class="protocolList">
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-xs-2">
                                    <select class="form-control" id="ajaxType">
                                        <option value="GET">GET</option>
                                        <option value="POST">POST</option>
                                    </select>
                                </div>
                                <div class="col-xs-10">
                                    <div class="input-group form-group">
                                        <input class="form-control" value="/parse/GL52S" placeholder="url" id="url">
                                        <span class="input-group-btn">
                                            <button id="test" class="btn btn-primary" data-style="zoom-in"><span class="ladda-label">Test</span></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <table class="table table-bordered table-hover" id="paramsList"></table>
                            <div class="text-right">
                                <button id="addParam" class="btn btn-primary m-t-15">Add Param</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 import-form">
                            <!--<textarea id="testResult"></textarea>-->
                            <pre id="testResult"><span class="grey">Test result is shown here...</span></pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="col-xs-2">-->
            <!--<div class="panel panel-default">-->
                <!--<div class="panel-body">-->
                    <!--<table class="table table-bordered table-hover" id="errorList"></table>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    </div>
</div>
<!--<div id="uploadBack" class="modal fade" role="dialog" data-backdrop="static" tabindex="-1">-->
    <!--<div class="modal-dialog">-->
        <!--<div class="modal-content">-->
            <!--<div class="modal-header">-->
                <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span-->
                        <!--aria-hidden="true">×</span></button>-->
                <!--<h4 class="modal-title">Confirm</h4>-->
            <!--</div>-->
            <!--<div class="modal-body">-->
                <!--<table class="table table-bordered table-hover" id="uploadBackTable"></table>-->
            <!--</div>-->
            <!--<div class="modal-footer">-->
                <!--<button id="submitContinue" class="btn btn-primary ladda-button m-r-15" data-style="zoom-in"><span-->
                        <!--class="ladda-label">Yes</span></button>-->
                <!--<button data-dismiss="modal" class="btn btn-default">No</button>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<div id="confirm" class="modal fade" role="dialog" data-backdrop="static" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                <h4 class="modal-title">Confirm</h4>
            </div>
            <div class="modal-body">
                <p></p>
            </div>
            <div class="modal-footer">
                <button id="confirmBtn" class="btn btn-primary ladda-button m-r-15" data-style="zoom-in"><span
                        class="ladda-label">Yes</span></button>
                <button id="cancelBtn" class="btn btn-default ladda-button" data-style="zoom-in"><span
                        class="ladda-label">No</span></button>
            </div>
        </div>
    </div>
</div>
<span class="version">Version:<span th:text="${VERSION}"></span></span>
<script type="text/javascript" src="js/jquery-1.11.0.js"></script>
<!--<script type="text/javascript" src="assets/bootstrap/popper.min.js"></script>-->
<script type="text/javascript" src="assets/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="assets/bootstrap-table/bootstrap-table.js"></script>
<script type="text/javascript" src="assets/bootstrap-editable/bootstrap-editable.min.js"></script>
<script type="text/javascript" src="assets/bootstrap-table/bootstrap-table-editable.js"></script>
<!--<script type="text/javascript" src="assets/bootstrap-table/bootstrap-table-zh-CN.js"></script>-->
<script type="text/javascript" src="assets/ladda/spin.min.js"></script>
<script type="text/javascript" src="assets/ladda/ladda.min.js"></script>
<script type="text/javascript" src="assets/parsley/parsley.min.js"></script>
<!--<script type="text/javascript" src="assets/parsley/zh_cn.js"></script>-->
<script type="text/javascript" src="js/ajaxTest.js"></script>
</body>
</html>